.my_external_backup_course_helpandtool{
	padding-bottom: 70px;
}
.my_external_backup_course_help{
	float:left;
}
.my_external_backup_course_form{
	clear:both;
}
.my_external_backup_course_notice{
	display: none;
}